// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  color: $white;
  background: $green;
  text-align: left;
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  .logo {
    svg {
      max-height: 120px;
      margin-bottom: 30px;
      @media (min-width: $breakpoint-tablet) {
        max-height: 160px;
        margin-bottom: 0px;
      }
      path, polygon {
        fill: $bgreen80;
      }
    }
    p {
      font: $bold 3.2rem/4.2rem $heading;
    }
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $bgreen80;
      text-decoration-color: $bgreen80;
    }
  }
  .newsletter {
    background: url('../img/squiggle.png') top left repeat-x;
    margin: 20px 0 20px 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 60px 0 40px 0;
      padding-top: 60px;
    }
    h5 {
      font: $bold 3.2rem/4.2rem $heading;
      margin-bottom: 10px;
    }
    form.newsletter-form {
      input[type="email"] {
        width: 315px;
        font: $normal 2.0rem/2.4rem $regular;
        padding: 15px;
        border: none;
        @include border-radius(5px 0 0 5px);
        border: 1px solid $white;
        &:focus {
          @include border-radius(5px 0 0 5px);
          border: 1px solid $orange;
          border-radius: 0; /* Remove rounded corners on focus */
          outline: none;
        }
      }
      button {
        position: absolute;
        border: 1px solid $orange;
        background: $orange url('../img/arrow.png') center center no-repeat;
        color: $white;
        border: none;
        cursor: pointer;
        height: 56px;
        width: 56px;
        @include border-radius(0 5px 5px 0);
        &:hover {
          border: 1px solid $orange60;
          background: $orange60 url('../img/arrow.png') center center no-repeat;
        }
      }
      .privacy-text {
        margin: 20px 0 0 0;
        font: $normal 1.6rem/2.0rem $regular;
        color: $white;
        a {
          color: $white;
        }
      }
    }
  }
  .sitemap {
    padding: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0;
    }
    h5 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    ul {
      li {
        margin: 15px 0;
        a {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
    }
  }
  .copyright {
    background: url('../img/squiggle.png') top left repeat-x;
    text-align: left;
    margin: 20px 0 0 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 50px 0 0 0;
      padding-top: 50px;
    }
    p {
      font: $normal 2.0rem/2.4rem $regular;
    }
  }
}