// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  color: $white;
  background: $green;
  text-align: left;
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  .logo {
    svg {
      max-height: 120px;
      margin-bottom: 30px;
      @media (min-width: $breakpoint-tablet) {
        max-height: 160px;
        margin-bottom: 0px;
      }
      path, polygon {
        fill: $bgreen80;
      }
    }
    p {
      font: $bold 3.2rem/4.2rem $heading;
    }
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $bgreen80;
      text-decoration-color: $bgreen80;
    }
  }
  .newsletter {
    background: url('../img/squiggle.png') top left repeat-x;
    margin: 20px 0 0 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0 0 0;
      padding-top: 40px;
    }
  }
  .sitemap {
    padding: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0;
    }
    h5 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    ul {
      li {
        margin: 15px 0;
        a {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
    }
  }
  .copyright {
    background: url('../img/squiggle.png') top left repeat-x;
    text-align: left;
    margin: 20px 0 0 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0 0 0;
      padding-top: 40px;
    }
    p {
      font: $normal 2.0rem/2.4rem $regular;
    }
  }
  .search {
    .search_form {
      form {
        &.focused {
          border-bottom: 1px solid $green;
        }
        input {
          margin: 0;
          display: inline-block;
          &.search {
            text-align: left;
            box-sizing: border-box;
            font: $normal 1.6rem/2.6rem $regular;
            background: transparent;
            padding: 5px 10px;
            color: $white;
            border: 1px solid #dddfe9;
            width: 180px;
            &:focus {
              outline: none;
            }
            &::placeholder { 
              color: $white;
              opacity: 1;
            }
          }
          &.search-submit {
            text-indent: -9999px;
            overflow: hidden;
            box-sizing: border-box;
            font: $normal 1.6rem/2.6rem $regular;
            background: $white;
            border: 1px solid transparent;
            padding: 5px;
            
            background: $white url(../img/search_icon.svg) center center no-repeat;
            cursor: pointer;
            width: 40px;
          }
        }
      }
    }
  }
}

.back_to_top {

  display: none;
  width: 48px;
  height: 48px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  background: #F05F4E url("../img/arrow_up.svg") no-repeat center center;
  &:hover {
    background: #193E72 url("../img/arrow_up.svg") no-repeat center center;
    &::before {
      text-indent: 0;
      content: "Back To Top";
      position: absolute;
      background: #4e4b66;
      color: #fff;
      right: calc(100% + 7px);
      font-size: 12px;
      line-height: 16px;
      width: max-content;
      padding: 4px 8px;
      border-radius: 4px;
      top: 10px
    }
  }
}