// Footer
footer {
  font: $normal 1.6rem/3.0rem $regular;
  position: relative;
  overflow-wrap: break-word;
  color: $white;
  background: $green;
  text-align: left;
  padding: 20px 0px;
  @media (min-width: $breakpoint-tablet) {
    padding: 40px 0px;
  }
  .logo {
    svg {
      max-height: 120px;
      margin-bottom: 30px;
      @media (min-width: $breakpoint-tablet) {
        max-height: 160px;
        margin-bottom: 0px;
      }
      path, polygon {
        fill: $bgreen80;
      }
    }
    p {
      font: $bold 3.2rem/4.2rem $heading;
    }
  }
  a {
    color: $white;
    text-decoration-color: $white;
    &:hover {
      color: $bgreen80;
      text-decoration-color: $bgreen80;
    }
  }
  .newsletter {
    background: url('../img/squiggle.png') top left repeat-x;
    margin: 20px 0 20px 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 40px 0 20px 0;
      padding-top: 40px;
    }
  }
  .sitemap {
    padding: 20px 0 0 0;
    @media (min-width: $breakpoint-tablet) {
      padding: 0;
    }
    h5 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    ul {
      li {
        margin: 15px 0;
        a {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
    }
  }
  .copyright {
    background: url('../img/squiggle.png') top left repeat-x;
    text-align: left;
    margin: 20px 0 0 0;
    padding-top: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin: 50px 0 0 0;
      padding-top: 50px;
    }
    p {
      font: $normal 2.0rem/2.4rem $regular;
    }
  }
}