// ------------------------------------------------------------
// Animations
// ------------------------------------------------------------

@mixin fade() {
  opacity: 0;
  transition: opacity linear 1.2s;
}

@mixin drop() {
  opacity: 0;
  transform: translate3d(0,-60px,0);
  transition: opacity linear 1s, transform ease-in 0.5s;
}
@mixin slide() {
  opacity: 0;
  transform: translate3d(-100px,0,0);
  transition: opacity linear 1s, transform ease-in 0.6s;
}

@mixin rise() {
  opacity: 0;
  transform: translate3d(0,100px,0);
  transition: opacity linear 1s, transform ease-out 1s;
}

@mixin reset-fade() {
  opacity: 1;
}

@mixin reset() {
  opacity: 1;
  transform: translate3d(0,0,0);
}

// @include delay-children;
@mixin delay-children() {
  &:nth-child(1)  {transition-delay: 0s;}
  &:nth-child(2)  {transition-delay: 0.2s;}
  &:nth-child(3)  {transition-delay: 0.4s;}
  &:nth-child(4)  {transition-delay: 0.6s;}
  &:nth-child(5)  {transition-delay: 0.8s;}
  &:nth-child(6)  {transition-delay: 1.0s;}
  &:nth-child(7)  {transition-delay: 1.2s;}
  &:nth-child(8)  {transition-delay: 1.4s;}
  &:nth-child(9)  {transition-delay: 1.6s;}
  &:nth-child(10) {transition-delay: 1.8s;}
  &:nth-child(11)  {transition-delay: 2.0s;}
  &:nth-child(12)  {transition-delay: 2.2s;}
  &:nth-child(13)  {transition-delay: 2.4s;}
  &:nth-child(14)  {transition-delay: 2.6s;}
}

header {
  .logo {
    // @include fade();
  }
  &.visible {
    .logo {
      // @include reset();
      // transition-delay: 0.2s;
    }
  }
}

// General 
section.hero {
  h1, p {
    @include fade();
  }
  &.visible {
    h1, p {
      @include reset();
      transition-delay: 0.2s;
    }
  }
}
// Home 
section.home.hero {
  h1, a.button {
    @include fade();
  }
  .sunrise {
    @include fade();
  }
  &.visible {
    h1 {
      @include reset();
      transition-delay: 0.2s;
    }
    a.button {
      @include reset();
      @include delay-children();
    }
    .sunrise {
      opacity: 1;
    }
  }
}

section.home.carousel-container {
  .carousel-item {
    @include fade();
  }
  &.visible {
    .carousel-item {
      @include reset();
      @include delay-children();
    }
  }
}

section.home.services {
  h2, h3, a {
    @include fade();
  }
  ul {
    li {
      @include fade();
    }
  }
  &.visible {
    h2, h3, a {
      @include reset();
    }
    ul {
      li {
        @include reset();
        @include delay-children();
      }
    }
  }
}
section.home.reputation {
  h2 {
    @include fade();
  }
  .testimonial .slide {
    @include fade();
  }
  .slick-arrow {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    .testimonial .slide {
      @include reset();
    }
    .slick-arrow {
      @include reset();
      transition-delay: 1.0s;
    }
  }
}

section.home.work {
  .work-wrapper {
    .work-list {
      .work-item {
        @include slide();
      }
    }
    .work-image {
      img {
        @include fade();
      }
    }
  }
  .all-wrapper {
    @include fade();
  }
  &.visible {
    .work-wrapper {
      .work-list {
        .work-item {
          @include reset();
          @include delay-children();
        }
      }
      .work-image {
        img {
          @include reset();
          transition-delay: 0.2s;
        }
      }
    }
    .all-wrapper {
      @include reset();
      transition-delay: 1s;
    }
  }
  
}

section.home.insights {
  h2 {
    @include fade();
  }
  &.visible {
    h2 { 
      @include reset();
    }
  }
  article {
    @include rise();
    &.visible {
      @include reset();
      @include delay-children();
    }
  }
}

// Services
section.services.offering {
  .service {
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: opacity linear 0.7s, transform ease-out 0.7s;
    &.visible {
      @include reset();
    }
  }
}

section.services.capabilities {
  h2, h3, ul li {
    @include fade();
  }
  &.visible {
    .ux::before, .product::before, .strategy::before {
      animation: drawBorder 1.5s forwards;
    }
    h2, h3 {
      @include reset();
    }
    ul, li {
      @include reset();
      @include delay-children();
    }
  }
}

section.services.reputation {
  h2 {
    @include fade();
  }
  .testimonial .slide {
    @include fade();
  }
  .slick-arrow {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    .testimonial .slide {
      @include reset();
      @include delay-children();
    }
    .slick-arrow {
      @include reset();
      transition-delay: 1.5s;
    }
  }
}

section.services.reasons {
  .statement p {
    @include fade();
  }
  .reasons h3, .reasons p {
    @include fade();
  }
  &.visible {
    .statement p {
      @include reset();
    }
    .reasons h3, .reasons p {
      @include reset();
      transition-delay: 0.4s;
    }
  }
}

section.services.specialties {
  h2, p, a.button {
    @include fade();
  }
  ul li {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    p {
      @include reset();
      transition-delay: 0.2s;
    }
    a.button {
      @include reset();
      transition-delay: 1.2s;
    }
    ul li {
      @include reset();
      @include delay-children();
    }
  }
}

section.services.industries {
  h2 {
    @include fade();
  }
  .industry {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    .industry {
      @include reset();
      @include delay-children();
    }
  }
}

section.service.hero {
  .container {
    @include fade();
  }
  &.visible {
    .container {
      @include reset();
    }
  }
}

section.service.intro {
  h2, p {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    p {
      @include reset();
      transition-delay: 0.2s;
    }
  }
}

section.service.approach {
  h2, article {
    @include fade();
  }
  form {
    @include fade();
  }
  &.visible {
    h2, p {
      @include reset();
    }
    article {
      @include reset();
      @include delay-children();
    }
    form {
      @include reset();
      transition-delay: 0.2s;
    }
    .bg {
      &::after {
        opacity: 1;
      }
    }
  }
}

section.service.products, section.service.insights {
  h2 {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
  }
  article {
    @include fade();
    &.visible {
      @include reset();
    }
  }
}

section.service.offering {
  h2, .service {
    @include fade();
  }
  &.visible {
    h2, .service {
      @include reset();
    }
  }
}
section.post.news {
  .content, aside {
    @include fade();
  }
  &.visible {
    .content {
      @include reset();
    }
    aside {
      @include reset();
      transition-delay: 0.5s;
    }
  }
}

section.service.client-logos {
  h2 {
    @include fade();
  }
  .logos .logo {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    .logos .logo {
      @include reset();
      @include delay-children();
    }
  }
}

// About
section.about.hero {
  h1 {
    @include fade();
  }
  .cutoff {
    opacity: 0;
    transform: translate3d(0,120px,0);
    transition: opacity linear 0.8s, transform linear 0.8s;
  }
  &.visible {
    h1, .cutoff {
      @include reset();
      transition-delay: 0.2s;
    }
  }
}

section.about.office {
  img, span {
    @include fade();
  }
  &.visible {
    img {
      @include reset();
    }
    span {
      @include reset();
      transition-delay: 1s;
    }
  }
}

section.about.what {
  h2, p {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    p {
      @include reset();
      transition-delay: 0.2s;
    }
  }
}

section.about.team {
  h2 {
    @include fade();
  }
  
  &.visible {
    h2 {
      @include reset();
    }
  }
  article {
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: opacity linear 0.7s, transform ease-out 0.7s;
    &.visible {
      @include reset();
    }
  }
}

section.about.reasons {
  .statement p {
    @include fade();
  }
  .reasons h3, .reasons p {
    @include fade();
  }
  &.visible {
    .statement p {
      @include reset();
    }
    .reasons h3, .reasons p {
      @include reset();
      transition-delay: 0.4s;
    }
  }
}

section.about.why {
  h3, p {
    @include fade();
  }
  .content {
    transition: border-color 1s ease-in-out;
  }
  &.visible {
    h3 {
      @include reset();
    }
    p {
      @include reset();
      transition-delay: 0.4s;
    }
    .content {
      border: 1px solid $green;
    }
  }
}


// Insights 
section.archive {
  .filters, .pagination {
    @include fade();
  }
  &.visible {
    .pagination {
      @include reset();
    }
    .filters {
      @include reset();
      transition-delay: 0.3s;
    }
  }
  article {
    opacity: 0;
    transform: translate3d(0,50px,0);
    transition: opacity linear 0.7s, transform ease-out 0.7s;
    &.visible {
      @include reset();
    }
  }
  .insight-cta {
    h2, p, form {
      @include fade();
    }
    &.visible {
      h2, p, form {
        @include reset();
        @include delay-children();
      }
    }
  }
}

// Careers 
section.post.career {
  .content {
    @include fade();
  }
  &.visible {
    .content {
      @include reset();
    }
    .bg {
      &::after {
        opacity: 1;
      }
    }
  }
  
}

// Contact

section.contact.form {
  h2, p {
    @include fade();
  }
  form {
    @include fade();
  }
  &.visible {
    h2, p {
      @include reset();
      @include delay-children();
    }
    form {
      @include reset();
      transition-delay: 0.2s;
    }
    .bg {
      &::after {
        opacity: 1;
      }
    }
  }
  
}

// Includes 
section.cta.collaborate {
  h4, p, a {
    @include slide();
  }
  &.visible {
    h4, p, a {
      @include reset();
      
    }
  }
}

@keyframes drawBorder {
  to {
    opacity: 1;
    height: 100%; // Expand to full height of the container
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes fadeInAndDrop {
  0% { opacity: 0; transform: translate3d(0,-60%,0); }
  50% { opacity: 0; transform: translate3d(0,-60%,0); }
  100% { opacity: 1; transform: translate3d(0,-50%,0); }
}

@keyframes bgZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes opacity {
	to { opacity: 1; }
}