// ------------------------------------------------------------
// Animations
// ------------------------------------------------------------

@mixin fade() {
  opacity: 0;
  transition: opacity linear 1s, transform ease-in 1s;
}

@mixin drop() {
  opacity: 0;
  transform: translate3d(0,-60px,0);
  transition: opacity linear 1s, transform ease-in 0.5s;
}
@mixin slide() {
  opacity: 0;
  transform: translate3d(-60px,0,0);
  transition: opacity linear 1s, transform ease-in 0.4s;
}

@mixin rise() {
  opacity: 0;
  transform: translate3d(0,100px,0);
  transition: opacity linear 1s, transform ease-out 1s;
}

@mixin reset-fade() {
  opacity: 1;
}

@mixin reset() {
  opacity: 1;
  transform: translate3d(0,0,0);
}

// @include delay-children;
@mixin delay-children() {
  &:nth-child(1)  {transition-delay: 0s;}
  &:nth-child(2)  {transition-delay: 0.2s;}
  &:nth-child(3)  {transition-delay: 0.4s;}
  &:nth-child(4)  {transition-delay: 0.6s;}
  &:nth-child(5)  {transition-delay: 0.8s;}
  &:nth-child(6)  {transition-delay: 1.0s;}
  &:nth-child(7)  {transition-delay: 1.2s;}
  &:nth-child(8)  {transition-delay: 1.4s;}
  &:nth-child(9)  {transition-delay: 1.6s;}
  &:nth-child(10) {transition-delay: 1.8s;}
  &:nth-child(11)  {transition-delay: 2.0s;}
  &:nth-child(12)  {transition-delay: 2.2s;}
  &:nth-child(13)  {transition-delay: 2.4s;}
  &:nth-child(14)  {transition-delay: 2.6s;}
}

// Home 
section.home.hero {
  h1, a.button {
    @include fade();
  }
  .sunrise {
    @include fade();
  }
  &.visible {
    h1 {
      @include reset();
    }
    a.button {
      @include reset();
      @include delay-children();
    }
    .sunrise {
      opacity: 1;
    }
  }
}

section.home.carousel-container {
  .carousel-item {
    @include fade();
  }
  &.visible {
    .carousel-item {
      @include reset();
      @include delay-children();
    }
  }
}

section.home.work {
  .work-wrapper {
    .work-list {
      .work-item {
        @include slide();
      }
    }
    .work-image {
      img {
        @include fade();
      }
    }
  }
  .all-wrapper {
    @include fade();
  }
  &.visible {
    .work-wrapper {
      .work-list {
        .work-item {
          @include reset();
          @include delay-children();
        }
      }
      .work-image {
        img {
          @include reset();
          transition-delay: 0.2s;
        }
      }
    }
    .all-wrapper {
      @include reset();
      transition-delay: 1s;
    }
  }
  
}

section.home.insights {
  article {
    @include slide();
  }
  &.visible {
    article {
      @include reset();
      @include delay-children();
    }
  }
}

// About
section.about.hero {
  h1 {
    @include fade();
  }
  .cutoff {
    @include rise();
  }
  &.visible {
    h1, .cutoff {
      @include reset();
    }
  }
}

section.about.office {
  img, span {
    @include fade();
  }
  &.visible {
    img {
      @include reset();
    }
    span {
      @include reset();
      transition-delay: 1s;
    }
  }
}

section.about.what {
  h2, p {
    @include fade();
  }
  &.visible {
    h2 {
      @include reset();
    }
    p {
      @include reset();
      transition-delay: 0.2s;
    }
  }
}

section.about.team {
  h2 {
    @include fade();
  }
  article {
    @include slide();
  }
  &.visible {
    h2 {
      @include reset();
    }
    article {
      @include reset();
      @include delay-children();
    }
  }
}

// Includes 
section.cta.collaborate {
  h4, p, a {
    @include slide();
  }
  &.visible {
    h4, p, a {
      @include reset();
    }
  }
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@keyframes fadeInAndDrop {
  0% { opacity: 0; transform: translate3d(0,-60%,0); }
  50% { opacity: 0; transform: translate3d(0,-60%,0); }
  100% { opacity: 1; transform: translate3d(0,-50%,0); }
}

@keyframes bgZoom {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
}

@keyframes opacity {
	to { opacity: 1; }
}