/* Buttons 
    
<a href="#" class="button primary">Get a quote</a>
<a href="#" class="button secondary">Get a quote</a>

*/

.button {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  @include border-radius(30px);
  text-decoration: none;
  text-align: center;
  min-width: 220px;
  margin: 5px 10px 5px 0;
  padding: 15px 20px;
  font: $bold 2.0rem/2.0rem $regular;
  &:hover {
    text-decoration: none;
  }
  &.primary {
    color: $white;
    background: $bgreen;
    &:hover {
      background: $bgreen90;
    }
  }
  &.secondary {
    
  }
  &.accent {
    color: $white;
    background: $orange;
    &:hover {
      background: $orange70;
    }
    &:active {
      background: $orange60;
      transform: scale(0.95); // Adds a slight pressed effect
    }
  }
}
span.cat {
  
  font: $xbold 1.2rem/1.2rem $regular;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
  a {
    background: $suntan;
    padding: 10px;
    color: #6C6A59;
    border: 1px solid #DDDBCA;
    @include border-radius(10px);
    text-decoration: none;
    &:hover {
      border: 1px solid $green;
      background: $green;
      color: $white;
    }
  }
}