// About

section.about.hero {
  padding: $padding-half 0 0 0;
  background: $green;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 0 0;
  }
  .cutoff {
    margin: 0;
    svg {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }
  }
  h1 {
    color: $cream;
    
  }
}

section.office {
  padding: $padding 0;
  position: relative;
  span {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: $white;
    font: $bold 2.4rem/2.8rem $heading;
    padding: 5px 10px;
    @include border-radius(5px);
  }
}
section.what {
  padding: $padding 0;
  h2 {
    font: $bold 2.4rem/2.8rem $heading;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 3.2rem/4.2rem $heading;
    }
  }
  p {
    font: $bold 3.2rem/4.2rem $heading;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.8rem $heading;
    }
  }
}

section.team {
  padding: $padding 0;
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  article.profile, article.joinus {
    clear: both;
    overflow: hidden;
    margin-bottom: 4%;
    .image {
      
    }
    .content {
      h3 {
        margin-bottom: 10px;
        font: $bold 3.2rem/4.0rem $heading;
        @media (min-width: $breakpoint-desktop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

section.about.reasons {
  padding: $padding-half 0;
  .container {
    display: flex;
  }
  .statement {
    background: $green;
    position: relative;
    .content {
      padding: 120px;
      @include vertical-align();
      p {
        font: $bold 9.6rem/9.6rem $heading;
        color: $suntan;
      }
    }
  }
  .reasons {
    background: $suntan;
    color: $green;
    padding: 60px;
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    p {
      font: $normal 2.2rem/3.4rem $regular;
    }
  }
}

section.about.why {
  padding: $padding 0;
  .content {
    border: 1px solid $cream;
    padding: 30px;
    @media (min-width: $breakpoint-tablet) {
      padding: 60px;
    }
    @media (min-width: $breakpoint-desktop) {
      padding: 80px 120px;
    }
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    p {
      font: $bold 4.8rem/5.8rem $heading;
    }
  }
}

