// News

section.archive {
  padding: $padding 0;
  background: $cream;
  .careers_listing {
    display: flex;
    .no-roles {
      h2 {
        font: $bold 3.2rem/4.2rem $heading;
      }
      p {
        
      }
    }
  }
}

article.career {
  margin-bottom: 4%;
  border: 1px solid #D6D6D6;
  background: $suntan;
  &.cta {
    background: $bgreen;
    .content {
      @include vertical-align();
      padding: 80px;
      h3 {
        font: $bold 3.2rem/4.2rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
      }
      h3, p {
        color: $cream;
      }
      a {
        color: $cream;
        text-decoration-color: $cream;
      }
    }
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 4%;
    margin: 0;
    img {
      margin-bottom: 4%;
    }
    h3 {
      color: $green;
      font: $bold 2.0rem/3.0rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $heading;
      }
      @media (min-width: $breakpoint-laptop) {
        font: $bold 4.0rem/4.8rem $heading;
      }
      a {
        text-decoration: none;
        color: $green;
        &:hover {
          color: $bgreen;
        }
      }
    }
  }
  &:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}
section.post {
  .container {
    display: flex;
    position: relative;
  }
  .content {
    h2 {
      font: $bold 4.0rem/4.8rem $heading;
      margin-bottom: 20px;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 5.6rem/5.6rem $heading;
      }
    }
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
      margin-bottom: 20px;
    }
    p, ul li, ol li {
      font: $normal 2.4rem/3.4rem $regular;
    }
  }
  .bg {
    // height: 100%;
    max-height: 780px;
    background: #18584a;
    position: relative;
    &::after {
      content: '';
      background: url(../img/repeating_pattern.svg) center 0px repeat-y;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // opacity: 0; /* Start with the background image invisible */
      transition: opacity 1s ease-in-out; /* Fade-in effect */
    }
  }
}