// Home

section.home.hero {
  padding: $padding-half 0;
  background: $green;
  background-size: cover;
  position: relative;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h1 {
    color: $cream;
  }
  .sunrise {
    right: 0;
    bottom: -90px;
    position: absolute;
    display: none;
    @media (min-width: $breakpoint-laptop) {
      display: block;
    }
  }
  a.service {
    width: 100%;
    box-sizing: border-box;
    @media (min-width: $breakpoint-tablet) {
      width: auto;
    }
  }
  a.work {
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: inline-block;
    }
  }
}

section.home {
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
}

section.home.carousel-container {
  background: $cream;
  padding: $padding-half 0;
  overflow: hidden;
  position: relative;
  .carousel {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    .carousel-track {
      display: inline-flex;
      animation: scroll 40s linear infinite;
      &:hover {
        animation-play-state: paused;
      }
      .carousel-item {
        display: inline-block;
        margin: 0 2rem;
        img {
          transition: transform 0.3s ease;
          max-width: none;
        }
        &:hover { 
          img {
            transform: scale(1.1); /* Increase size to 110% */
          }
        }
      }
    }
  }
}

section.home.services {
  background: $suntan;
  padding: 40px 0;
  @media (min-width: $breakpoint-tablet) {
    background: $suntan url('../img/lightning_bolt.svg') center center no-repeat;
    padding: 80px 0;
  }
  .focus {
    h3 {
      background: $suntan;
      position: relative;
      font: $bold 3.2rem/4.2rem $heading;
      margin-bottom: 20px;
      z-index: 2;
      &::after {
        content: "";
        position: absolute;
        left: 150px;
        top: 17px;
        width: 220px;
        height: 12px;
        background-image: url('../img/squiggle-green.svg');
        background-repeat: repeat-x;
      }
    }
    ul {
      padding: 0;
      margin: 0 0 100px 0;
      @media (min-width: $breakpoint-tablet) {
        margin: 0;
      }
      li {
        margin: 5px 0;
        padding: 0;
        list-style: none;
        a {
          color: $bgreen;
          text-decoration-color: $bgreen;
          font: $bold 2.4rem/2.8rem $heading;
          @media (min-width: $breakpoint-tablet) {
            font: $bold 3.2rem/4.2rem $heading;
          }
        }
      }
    }
  }
  a.button {
    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

section.home.reputation {
  background: $green url('../img/reputation-bg.png') center top no-repeat;
  background-size: cover;
  padding: 40px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  h2 {
    color: $cream;
  }
  .testimonial {
    min-height: 600px;
    .image {
      position: relative;
      min-height: 200px;
      background: $bgreen;
      @media (min-width: $breakpoint-tablet) {
        min-height: 600px;
      }
      .content {
        @include center-align();
        img, svg {
          max-width: 140px;
          @media (min-width: $breakpoint-tablet) {
            max-width: 400px;
          }
        }
      }
    }
    .quote {
      background: $cream;
      padding: 0 20px;
      @media (min-width: $breakpoint-tablet) {
        padding: 40px;
        height: 600px;
      }
      p {
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      cite {
        color: #3F3D31;
        font: $bold 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.4rem $regular;
        }
      }
      span {
        color: #3F3D31;
        font: $normal 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
    }
    .slick-dots {
      bottom: -40px;
      li {
        border: 2px solid $suntan;
        background: transparent;
        &.slick-active {
          background: $bgreen;
        }
      }
    }
  }
}

section.home.work {
  background: $cream;
  padding: $padding 0;
  .work-wrapper {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: stretch;
    }
    .work-list {
      @media (min-width: $breakpoint-tablet) {
        flex: 1;
      }
    }
    .work-image {
      display: none;
      @media (min-width: $breakpoint-tablet) {
        display: flex;
        align-items: center; 
        justify-content: center;
      }
    }
    article {
      cursor: pointer;
      padding: 20px 0 20px 0;
      border-bottom: 1px solid #3F3D31;
  
      h3 {
        transition: all ease-out 0.1s;
        color: $green;
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.8rem/4.6rem $heading;
        }
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.8rem/5.8rem $heading;
        }
        a {
          text-decoration: none;
          color: $green;
          &:hover {
            color: $bgreen;
          }
        }
      }
      p {
        margin-bottom: 5px;
      }
      span.cat {
        margin: 10px 0 0 0;
        a {
          
          border: none;
        }
        
      }
      &.active {
        h3 {
          padding-left: 10px;
          border-left: 10px solid $bgreen; /* Simulates a left border */
        }
        
        // background: $suntan;
      }
    }
  }
  .all-wrapper {
    margin: 40px 0 0 0;
  }
}

section.home.insights {
  background: $suntan;
  padding: $padding 0;
}
