
// Old Template CSS

section.casestudy.old.content {
  background: $cream;
  .image {
    &.mobile-hide {
      display: none;
      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
    &.mobile-show {
      display: block;
      @media (min-width: $breakpoint-tablet) {
        display: none;
      }
    }
  }
  .web-image-block {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    .content {
      width: calc(100% - 1.25rem);
      margin-right: .625rem;
      margin-left: .625rem;
      position: relative;
    }
    .mobile-image {
      bottom: -40px;
      right: -40px;
      position: absolute;
    }
    .caption {
      text-align: center;
      margin: 0px auto;
      font-size: 1.6rem;
      line-height: 2.4rem;
      @media (min-width: $breakpoint-tablet) {
        font-size: 2.0rem;
        line-height: 2.4rem;
        max-width: 50%;
      }
    }
  }
  .image-block {
    padding: $padding 0;
    img {
      margin: 0px auto;
    }
    .caption {
      text-align: center;
      margin: 0px auto;
      font-size: 1.6rem;
      line-height: 2.4rem;
      @media (min-width: $breakpoint-tablet) {
        font-size: 2.0rem;
        line-height: 2.4rem;
        max-width: 50%;
      }
    }
    &:first-child {
      background: $suntan;
    }
  }
  .image-block + .image-block {
    padding: 0 0 $padding-half 0;
  }
  .copy-block {
    padding-right: 0;
    padding-left: 0;
    max-width: 78.25rem;
    margin: 0 auto;
    margin-top: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 60px;
    .content {
      h3 {
        font: $bold 3.2rem/4.2rem $heading;
      }
      h2 {
        font: $bold 4.0rem/4.8rem $heading;
        margin-bottom: 20px;
        @media (min-width: $breakpoint-desktop) {
          font: $bold 4.8rem/5.8rem $heading;
        }
      }
      p {
        font: $normal 2.4rem/3.4rem $regular;
      }
    }
  }
  .image-quote {
    height: 850px;
    background-position: right -30px top 150px;
    background-size: auto;
    margin-top: 88px;
    width: 100%;
    background-repeat: no-repeat;
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
    .quote-row {
      padding-right: 0;
      padding-left: 0;
      margin: 0 auto;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      .quote-container {
        position: relative;
        width: calc(46.66667% - 2.25rem);
        margin-right: .625rem;
        margin-left: .625rem;
        padding-left: 60px;
        padding-right: 80px;
        min-height: 250px;
        .quote {
          height: 100%;
          background-color: $darkblue;
          p {
            font: $bold 3.6rem/4.2rem $heading;
            padding: 40px;
            margin-bottom: 0;
            color: $cream;
          }
        }
      }
    }
  }
  .image-quote-mobile {
    display: block;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
    .container {
      width: 100%;
    }
    .mobile-image {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    .quote {
      height: 100%;
      background-color: $darkblue;
      p {
        font: $bold 3.6rem/4.2rem $heading;
        padding: 40px;
        margin-bottom: 0;
        color: $cream;
      }
    }
  }
  .three-images {
    padding: $padding-half 0 $padding 0;
    background: $blue;
    margin: $padding auto $padding auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: none;
    @media (min-width: $breakpoint-tablet) {
      display: block;
    }
    .content {
      flex-direction: row;
      width: calc(100% - 5rem);
      margin-right: 2.5rem;
      margin-left: 2.5rem;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      .image {
        width: 33%;
        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 100%;
          height: auto;
        }
      }
    }
    .caption {
      color: $white;
      font-size: 1.6rem;
      line-height: 2.0rem;
      text-align: center;
    }
  }
  .three-images-mobile {
    display: block;
    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
  .quote-block {
    padding: $padding 0 0 0;
    .copy {
      background: $suntan;
      padding: $padding-half;
      @media (min-width: $breakpoint-tablet) {
        padding: 120px;
      }
      p {
        font: $bold 3.2rem/4.2rem $heading;
      }
      cite {
        color: #3F3D31;
        font: $bold 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.4rem $regular;
        }
      }
      blockquote {
        &::before {
          top: 40px;
        }
      }
    }
  }
}
