// News

body.single-post {
  header {
    background: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    &.open {
      background: $green;
    }
  }
  nav.mobile {
    top: 74px;
  }
  &.admin-bar {
    header {
      top: 32px;
    }
    nav.mobile {
      top: 106px;
    }
  }
  section.hero.casestudy {
    z-index: 1;
    height: 240px;
    @media (min-width: $breakpoint-laptop) {
      height: 480px;
    }
  }
  
  section.post {
    .container {
      display: block;
    }
    h1 {
      margin-bottom: 20px;
      font: $bold 4.0rem/4.8rem $heading;
      @media (min-width: $breakpoint-laptop) {
        font: $bold 6.4rem/6.4rem $heading;
      }
    }
    h2 {
      margin-bottom: 20px;
      font: $bold 3.2rem/4.0rem $heading;
      @media (min-width: $breakpoint-laptop) {
        font: $bold 4.8rem/5.6rem $heading;
      }
    }
    h3 {
      margin-bottom: 20px;
      font: $bold 3.2rem/4.0rem $heading;
      @media (min-width: $breakpoint-laptop) {
        font: $bold 4.0rem/4.8rem $heading;
      }
    }
    h4 {
      margin-bottom: 20px;
      font: $bold 2.4rem/3.6rem $heading;
      @media (min-width: $breakpoint-laptop) {
        font: $bold 3.2rem/4.0rem $heading;
      }
    }
    p {
      font: $normal 2.4rem/3.6rem $regular;
    }
    ul, ol {
      li {
        font: $normal 2.4rem/3.6rem $regular;
      }
    }
    span.cat {
      margin: 0;
    }
    p.details {
      margin: 20px 0;
      span.author {
        font: $normal 2.4rem/2.4rem $regular;
        margin-right: 5px;
      }
      span.date {
        margin-left: 5px;
        font: $normal 2.4rem/2.4rem $regular;
      }
    }
    aside.ux-insights {
      position: -webkit-sticky; /* for older Safari support */
      position: sticky;
      top: 40px; /* Adjust this value as needed for your layout */
      background: $blue url('../img/ux-insights-bg.png') bottom center no-repeat;
      background-size: 100% 180px;
      padding: 20px 20px 200px 20px;
      @media (min-width: $breakpoint-laptop) {
        background-size: 100% 240px;
        padding: 40px 40px 280px 40px;
      }
      h3 {
        color: $white;
        font: $bold 3.2rem/4.0rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.8rem/5.6rem $heading;
        }
      }
      p {
        color: $white;
      }
      form.newsletter-form {
        max-width: 100%;
        input[type="email"] {
          font: $normal 2.0rem/2.4rem $regular;
          padding: 15px;
          border: none;
          border-radius: 4px 0 0 4px;
        }
        button {
          position: absolute;
          background: $orange url('../img/arrow.png') center center no-repeat;
          color: $white;
          border: none;
          cursor: pointer;
          height: 54px;
          width: 54px;
          @include border-radius(0 5px 5px 0);
          &:hover {
            background: $orange60 url('../img/arrow.png') center center no-repeat;
          }
        }
        .privacy-text {
          margin: 20px 0 0 0;
          font: $normal 1.6rem/2.0rem $regular;
          color: $white;
          a {
            color: $white;
          }
        }
      }
      &.secondary {
        background: $blue url('../img/star.svg') bottom 40px right 80px no-repeat;
        padding: 20px 20px 200px 20px;
        @media (min-width: $breakpoint-laptop) {
          padding: 40px 40px 140px 40px;
        }
      }
    }
  }
}

section.archive {
  padding: $padding-half 0 $padding 0;
  background: $cream;
  .filters {
    .filter-container {
      display: flex;
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }
    .filter-container::-webkit-scrollbar {
      display: none;  /* Hide the scrollbar */
    }
    ul {
      margin: 0 0 30px 0;
      li {
        flex: 0 0 auto;
        margin-right: 10px;
        display: inline-block;
        margin: 10px 5px;
        padding: 0;
        &.filter{
          margin-right: 10px;
        }
        a {
          cursor: pointer;
          padding: 10px 15px;
          @include border-radius(5px);
          transition: background 0.3s ease;
          color: $green;
          text-decoration: none;
          &.current {
            color: $white;
            background: $green;
            text-decoration: none;
          }
          &:hover {
            color: $white;
            background: $green;
            text-decoration: none;
          }
        }
      }
    }
  }
  .news_listing {
    display: flex;
    flex-wrap: wrap;
  }
}

article.insight {
  border: 1px solid #D6D6D6;
  background: $suntan;
  margin-bottom: 24px;
  @media (min-width: $breakpoint-laptop) {
    margin-bottom: 4%;
  }
  &.large {
    display: flex;
    flex-wrap: wrap;
    .zoom {
      height: 100%;
    }
    .image {
      height: 100%;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center; /* centres children vertically */
      padding: 4%;
      margin-left: 0;
    }
  }
  .zoom {
    position: relative;
    overflow: hidden;
  }
  .image {
    transition: transform 1s ease;
    min-height: 320px;
    @media (min-width: $breakpoint-laptop) {
      min-height: 400px;
    }
    &:hover {
      transform: scale(1.1); 
    }
  }
  .content {
    padding: 4%;
    @media (min-width: $breakpoint-tablet) {
      padding: 2% 4% 2% 0;
    }
    h3 {
      color: $green;
      font: $bold 3.2rem/4.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 4.0rem/4.8rem $heading;
      }
      a {
        text-decoration: none;
        color: $green;
        &:hover {
          color: $bgreen;
        }
      }
    }
    span.author {
      color: #6C6A59;
      font: $normal 1.8rem/1.8rem $regular;
      margin-right: 5px;
    }
    span.date {
      color: #6C6A59;
      font: $normal 1.8rem/1.8rem $regular;
      margin-left: 5px;
    }
    p {
      margin-bottom: 10px;
      display: none; 
      @media (min-width: $breakpoint-tablet) {
        display: block;
      }
    }
  }
  &.small {
    &:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }
    .content {
      padding: 4%;
    }
  }
  &.cta {
    padding: 40px 40px 200px 40px;
    background: $blue url('../img/insight_cta.svg') left 40px bottom 30px no-repeat;
    background-size: contain;
    @media (min-width: $breakpoint-tablet) {
      padding: 60px;
      background: $blue url('../img/insight_cta.svg') left 60px bottom 40px no-repeat;
    }
    .content {
      padding: 0;
    }
    h3 {
      color: $white;
      margin-bottom: 40px;
      font: $bold 4.8rem/5.6rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 5.6rem/5.6rem $heading;
      }
    }
  }
}

section.insight-cta {
  margin-bottom: 40px;
  color: $white;
  padding: $padding-half 0;
  background: $blue url('../img/newsletter_bg.png') left bottom no-repeat;
  background-size: 100%;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding;
    background: $blue url('../img/newsletter_bg.png') right center no-repeat;
  }
  h2 {
    color: $white;
    font: $bold 5.6rem/5.6rem $heading;
    margin-bottom: 40px;
  }
  p {
    font: $normal 2.4rem/3.6rem $regular;
    margin-bottom: 10px;
  }
  form.newsletter-form {
    max-width: 400px;
    margin-bottom: 260px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0;
    }
    input[type="email"] {
      font: $normal 2.0rem/2.4rem $regular;
      padding: 15px;
      border: none;
      border-radius: 4px 0 0 4px;
    }
    button {
      position: absolute;
      background: $orange url('../img/arrow.png') center center no-repeat;
      color: $white;
      border: none;
      cursor: pointer;
      height: 54px;
      width: 54px;
      @include border-radius(0 5px 5px 0);
      &:hover {
        background: $orange60 url('../img/arrow.png') center center no-repeat;
      }
    }
    .privacy-text {
      margin: 20px 0 0 0;
      font: $normal 1.6rem/2.0rem $regular;
      color: $white;
      a {
        color: $white;
      }
    }
  }
}