// News

section.archive {
  padding: $padding-half 0 $padding 0;
  background: $cream;
  .filters ul {
    margin: 0;
    li {
      display: inline-block;
      margin: 10px 5px;
      padding: 0;
      &.filter{
        margin-right: 10px;
      }
      a {
        padding: 10px 15px;
        @include border-radius(5px);
        transition: background 0.3s ease;
        color: $green;
        text-decoration: none;
        &.current {
          color: $white;
          background: $green;
          text-decoration: none;
        }
        &:hover {
          color: $white;
          background: $green;
          text-decoration: none;
        }
      }
    }
  }
}

article.insight {
  margin: 20px 0;
  border: 1px solid #D6D6D6;
  background: $suntan;
  .content {
    padding: 4%;
    @media (min-width: $breakpoint-tablet) {
      padding: 2% 4% 2% 0;
    }
    h3 {
      color: $green;
      font: $bold 2.0rem/3.0rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 3.2rem/4.2rem $heading;
      }
      @media (min-width: $breakpoint-laptop) {
        font: $bold 4.0rem/4.8rem $heading;
      }
      a {
        text-decoration: none;
        color: $green;
        &:hover {
          color: $bgreen;
        }
      }
    }
  }
}