// Services

section.services.hero {
  padding: $padding-half 0;
  background: $green;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h1 {
    color: $cream;
  }
}

section.services.offering {
  padding: $padding 0;
  .service {
    
    min-height: 360px;
    margin-bottom: 40px;
    border: 1px solid #D6D6D6;
    background: $suntan;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      align-items: stretch;
    }
    .image {
      min-height: 240px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      @media (min-width: $breakpoint-tablet) {
        min-height: 360px;
        width: 50%;
      }
    }
    .content {
      padding: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: $breakpoint-tablet) {
        width: 50%;
        padding: 2% 4% 2% 0;
      }
      h2 {
        color: $green;
        font: $bold 3.2rem/4.2rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        a {
          text-decoration: none;
          color: $green;
          &:hover {
            color: $bgreen;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

section.services.capabilities {
  background: $suntan;
  padding: 40px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .ux, .product, .strategy {
    position: relative;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
      margin: 0 0 0px 20px;
      cursor: pointer;
      @media (min-width: $breakpoint-tablet) {
        margin: 0 0 10px 20px;
        cursor: none;
      }
    }
    ul {
      margin: 0;
      li {
        margin: 0 0 0 15px;
        list-style-position: inside;
        list-style-type: square;
        font: $normal 2.4rem/3.6rem $regular;
        @media (min-width: $breakpoint-tablet) {
          margin: 0 0 0 15px;
        }
      }
      &.collapsed {
        display: none;
        @media (min-width: $breakpoint-tablet) {
          display: block;
        }
        &.show {
          display: block;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 0;
      opacity: 0;
    }
  }
  .ux::before {
    background-color: #37A78F;
  }
  .product::before  {
    background-color: #FAA237;
  }
  .strategy::before  {
    background-color: #E7C1FC;
  }
  
  @media (max-width: $breakpoint-mobile) {
    ul.collapsed {
      display: none; /* Initially hidden */
    }
    ul.collapsed.show {
      display: block; /* Show when toggled */
    }
  }
  
  
}

section.services.reputation {
  background: $blue;
  // background: $bgreen url('../img/reputation-bg.png') center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .testimonial {
    .quote {
      margin: 0 0 0 20px;
      background: $suntan;
      padding: 40px;
      @media (min-width: $breakpoint-tablet) {
        height: 600px;
      }
      p {
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      &:nth-child(odd) {
        margin: 0 20px 0 0;
      }
    }
  }
}

section.services.reasons {
  padding: $padding 0;
  .container {
    display: flex;
  }
  .statement {
    background: $bgreen;
    position: relative;
    .content {
      padding: 120px;
      @include vertical-align();
      p {
        font: $bold 5.6rem/5.6rem $heading;
        color: $suntan;
      }
    }
  }
  .reasons {
    background: $suntan;
    color: $green;
    padding: 60px;
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    p {
      font: $normal 2.2rem/3.4rem $regular;
    }
  }
}

.services.specialties {
  padding: $padding 0;
  background: $green;
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  p {
    color: $cream;
    font: $normal 2.4rem/3.4rem $regular;
  }
  a.casestudy {
    @media (min-width: $breakpoint-tablet) {
      position: absolute;
      top: 0;
      right: 20px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
    @media (min-width: $breakpoint-laptop) {
      display: grid;
      grid-template-columns: repeat(4, minmax(120px, auto));
      gap: 20px;
      padding: 0;
      margin: $padding 0 0 0;
    }
    li {
      padding: 0;
      margin: 0;
      position: relative;
      display: flex;
      align-items: center;
      a {
        font: $bold 4.0rem/4.8rem $heading;
        color: $cream;
        text-decoration-color: $cream;
      }
      &:not(:last-child)::after {
        display: none;
        @media (min-width: $breakpoint-laptop) {
          display: block;
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50%;
        }
      }
    }
  }
}

.services.industries {
  padding: $padding 0;
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .industry {
    padding: 20px 0;
    border-bottom: 1px solid $green;
    h3 {
      font: $bold 4.0rem/4.8rem $heading;
      margin-bottom: 10px;
    }
  }
}