// Services

section.services.hero {
  padding: $padding-half 0;
  background: $green;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h1, p {
    color: $cream;
  }
  p {
    font: $bold 2.4rem/2.8rem $heading;
    margin-bottom: 10px;
  }
}

section.services.offering {
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  .service {
    min-height: 360px;
    margin-bottom: 30px;
    border: 1px solid #D6D6D6;
    background: $suntan;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
    }
    .zoom {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .image {
      height: 100%;
      transition: transform 1s ease;
      min-height: 320px;
      @media (min-width: $breakpoint-laptop) {
        min-height: 400px;
      }
      &:hover {
        transform: scale(1.1); 
      }
    }
    .content {
      padding: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: $breakpoint-tablet) {
        width: 48%;
        padding: 2% 4% 2% 0;
      }
      h2 {
        color: $green;
        font: $bold 3.2rem/4.2rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        a {
          text-decoration: none;
          color: $green;
          &:hover {
            color: $bgreen;
          }
        }
      }
      p {
        font: $normal 2.0rem/3.6rem $regular;
        @media (min-width: $breakpoint-laptop) {
          font: $normal 2.4rem/3.6rem $regular;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

section.services.capabilities {
  background: $suntan;
  padding: 40px 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .ux, .product, .strategy {
    position: relative;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
      margin: 0 0 0px 20px;
      cursor: pointer;
      position: relative;
      @media (min-width: $breakpoint-tablet) {
        background: transparent;
        margin: 0 0 10px 20px;
        cursor: none;
      }
      @media (max-width: $breakpoint-tablet) {
        &::after {
          content: '';
          background: url('../img/arrow_down.png') no-repeat center;
          background-size: contain;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 40px;
          transition: transform 0.2s ease-in-out;
        }
        &.active {
          margin-bottom: 10px;
          &::after {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
    }
    ul {
      margin: 0;
      li {
        margin: 0 0 0 15px;
        list-style-position: inside;
        list-style-type: square;
        font: $normal 2.0rem/3.2rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.6rem $regular;
          margin: 0 0 0 15px;
        }
      }
      &.collapsed {
        display: none;
        @media (min-width: $breakpoint-tablet) {
          display: block;
        }
        &.show {
          display: block;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 0;
      opacity: 0;
    }
  }
  .ux::before {
    background-color: #37A78F;
  }
  .product::before  {
    background-color: #FAA237;
  }
  .strategy::before  {
    background-color: #E7C1FC;
  }
}

section.services.reputation {
  background: $blue;
  background: $bgreen url('../img/reputation-service-bg.svg') top center repeat-x;
  background-size: auto auto;
  padding: 80px 0;
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .testimonial {
    .quote {
      margin: 0;
      background: $cream;
      padding: 40px;
      @media (min-width: $breakpoint-tablet) {
        margin: 0 0 0 20px;
        height: 600px;
      }
      p {
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.0rem/4.0rem $heading;
        }
      }
      cite {
        color: #3F3D31;
        font: $bold 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.4rem $regular;
        }
      }
      span {
        color: #3F3D31;
        font: $normal 2.0rem/3.0rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.4rem $regular;
        }
      }
      &:nth-child(odd) {
        @media (min-width: $breakpoint-tablet) {
          margin: 0 20px 0 0;
        }
      }
      blockquote {
        &:before {
          font-size: 14rem;
          content: "“";    
          left: 0;
          top: 40px;
        }
      }
    }
    .slick-arrow {
      top: -95px;
    }
  }
}

section.services.reasons {
  padding: 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  .container {
    width: 100%;
    padding: 0;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
    }
  }
  .statement {
    background: $bgreen;
    @media (min-width: $breakpoint-tablet) {
      position: relative;
    }
    .content {
      padding: 50px 30px;
      @media (min-width: $breakpoint-tablet) {
        padding: 120px;
        @include vertical-align();
      }
      p {
        color: $suntan;
        font: $bold 4.8rem/5.6rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 5.6rem/5.6rem $heading;
        }
      }
    }
  }
  .reasons {
    background: $suntan;
    color: $green;
    padding: 30px 30px 60px 30px;
    @media (min-width: $breakpoint-tablet) {
      padding: 60px;
    }
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    p {
      font: $normal 2.2rem/3.4rem $regular;
    }
  }
}

.services.specialties {
  padding: $padding 0;
  background: $green;
  position: relative;
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  p {
    color: $cream;
    font: $normal 2.4rem/3.4rem $regular;
  }
  a.casestudy {
    @media (max-width: $breakpoint-tablet) {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  ul {
    margin: 0 0 80px 0;
    list-style: none;
    @media (min-width: $breakpoint-laptop) {
      display: grid;
      grid-template-columns: repeat(4, minmax(120px, auto));
      gap: 20px;
      padding: 0;
      margin: $padding 0 0 0;
    }
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: left;
      @media (min-width: $breakpoint-laptop) {
        margin: 0;
        text-align: center;
        &:first-child {
          text-align: left;
        }
        &:last-child {
          text-align: right;
        }
      }
      a {
        color: $cream;
        text-decoration: none;
        font: $bold 3.2rem/4.2rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        &:hover {
          color: $bgreen80;
        }
      }
      &::marker {
        font-size: 0;
        display: none;
      }
      &:not(:first-child):before {
        display: none;
        @media (min-width: $breakpoint-laptop) {
          background: $bgreen;
          display: block;
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 50%;
        }
      }
    }
  }
}

.services.industries {
  padding: $padding 0;
  h4 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .industry {
    padding: 20px 0;
    border-bottom: 1px solid $green;
    h5 {
      
      margin-bottom: 10px;
      a {
        color: $green;
        text-decoration: none;
        font: $bold 3.2rem/4.2rem $heading;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        &:hover {
          text-decoration: underline;
          text-decoration-color: $green;
        }
      }
    }
    a {
      font: $normal 2.0rem/3.2rem $regular;
      color: $green;
      text-decoration: none;
      &:hover {
        color: $bgreen80;
        text-decoration: none;
      }
    }
  }
}