
section.service.hero {
  background: $green;
  .container {
    padding: 0;
    width: 100%;
    margin: 0;
    height: 240px;
    background-size: cover !important;
    @media (min-width: $breakpoint-tablet) {
      background-size: initial !important;
      height: auto;
      width: 90%;
      margin: 0px auto;
      padding: $padding 0;
    }
  }
  .content {
    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }
  h1, p {
    color: $cream;
  }
  p {
    font: $bold 2.4rem/2.8rem $heading;
    margin-bottom: 10px;
  }
}

section.mobile.header {
  padding: $padding-half 0 0 0;
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
  .content {
    padding-bottom: $padding-half;
    border-bottom: 1px solid #3F3D31;
    h1 {
      font: $bold 4.0rem/4.8rem $heading;
    }
    p {
      font: $bold 2.4rem/2.8rem $heading;
      margin-bottom: 0;
    }
  }
  
}

section.service.intro {
  padding: $padding-half 0;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  h2 {
    font: $bold 3.2rem/4.2rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
    }
  }
  p {
    font: $normal 2.4rem/3.4rem $regular;
  }
}

section.service.approach {
  background: $suntan;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 80px 0;
  }
  h2 {
    position: relative;
    font: $bold 5.6rem/5.6rem $heading;
    margin-bottom: 40px;
    z-index: 2;
    font: $bold 4.0rem/4.8rem $heading;
    @media (min-width: $breakpoint-tablet) {
      font: $bold 5.6rem/5.6rem $heading;
    }
    &::after {
      content: "";
      position: absolute;
      
      height: 12px;
      background-image: url('../img/squiggle-green.svg');
      background-repeat: repeat-x;
      width: calc(100% - 240px);
      left: 240px;
      top: 20px;
      @media (min-width: $breakpoint-tablet) {
        width: calc(100% - 320px);
        left: 320px;
        top: 30px;
      }
    }
  }
  .container {
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      position: relative;
    }
  }
  .content {
    position: relative;
    article {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid $green;
      h3 {
        font: $bold 3.2rem/4.2rem $heading;
        margin-bottom: 20px;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 4.0rem/4.8rem $heading;
        }
      }
      p {
        font: $normal 2.4rem/3.4rem $regular;
      }
      &:last-child {
        padding-bottom: 0px;
        margin-bottom: 0;
        border-bottom: 0px solid $green;
      }
    }
  }
  .bg {
    // height: 100%;
    background: #18584a;
    position: relative;
    &::after {
      content: '';
      background: url(../img/repeating_pattern.svg) center 0px repeat-y;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0; /* Start with the background image invisible */
      transition: opacity 1s ease-in-out; /* Fade-in effect */
    }
  }
}

section.service.products {
  padding: $padding-half 0;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h2 {
    font: $bold 4.8rem/5.2rem $heading;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .work-listing {
    display: flex;
    flex-wrap: wrap;
  }
}


section.service.insights {
  background: $cream;
  padding: 0 0 $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: 0 0 $padding 0;
  }
  h2 {
    font: $bold 4.8rem/5.2rem $heading;
    margin-bottom: 24px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
}

section.services.reputation + section.service.insights {
  padding: $padding 0;
}

section.service.client-logos {
  background: $suntan;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-desktop) {
    padding: $padding 0;
  }
  h2 {
    font: $bold 3.2rem/4.2rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .logos {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center; 
    flex-wrap: wrap;
    @media (max-width: $breakpoint-laptop) {
      justify-content: center;
    }
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $breakpoint-laptop) {
        flex: 0 0 calc(50% - 20px); 
      }
    }
  }
}

section.service.offering {
  background: $green;
  padding: $padding-half 0;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 112px 0;
  }
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .service {
    min-height: 360px;
    margin-bottom: 40px;
    border: 1px solid #D6D6D6;
    background: $suntan;
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-wrap: wrap;
    }
    .zoom {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .image {
      height: 100%;
      transition: transform 1s ease;
      min-height: 320px;
      @media (min-width: $breakpoint-laptop) {
        min-height: 400px;
      }
      &:hover {
        transform: scale(1.1); 
      }
    }
    .content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: $breakpoint-tablet) {
        width: 48%;
        padding: 2% 4% 2% 0;
      }
      h2 {
        color: $green;
        font: $bold 3.2rem/4.2rem $heading;
        margin-bottom: 10px;
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        a {
          text-decoration: none;
          color: $green;
          &:hover {
            color: $bgreen;
          }
        }
      }
      p {
        font: $normal 2.0rem/2.4rem $regular;
        @media (min-width: $breakpoint-laptop) {
          font: $normal 2.4rem/3.6rem $regular;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
