// Services

section.services.hero {
  padding: $padding-half 0;
  background: $green;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h1 {
    color: $cream;
  }
}

section.services.offering {
  padding: $padding 0;
  .service {
    display: flex;
    align-items: stretch;
    min-height: 360px;
    margin-bottom: 40px;
    border: 1px solid #D6D6D6;
    background: $suntan;
    .image {
      width: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .content {
      width: 50%;
      padding: 4%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: $breakpoint-tablet) {
        padding: 2% 4% 2% 0;
      }
      h2 {
        color: $green;
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
        @media (min-width: $breakpoint-laptop) {
          font: $bold 4.0rem/4.8rem $heading;
        }
        a {
          text-decoration: none;
          color: $green;
          &:hover {
            color: $bgreen;
          }
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

section.services.capabilities {
  background: $suntan;
  padding: 80px 0;
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .ux, .product, .strategy {
    position: relative;
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
      margin: 0 0 10px 20px;
    }
    ul {
      margin: 0;
      li {
        margin: 0 0 0 15px;
        list-style-position: inside;
        list-style-type: square;
        font: $normal 2.4rem/3.6rem $regular;
      }
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 0;
      opacity: 0;
    }
  }
  .ux::before {
    background-color: #37A78F;
  }
  .product::before  {
    background-color: #FAA237;
  }
  .strategy::before  {
    background-color: #E7C1FC;
  }
}

section.services.reputation {
  background: $blue;
  // background: $bgreen url('../img/reputation-bg.png') center center no-repeat;
  background-size: cover;
  padding: 80px 0;
  h2 {
    color: $cream;
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 5.6rem/6.6rem $heading;
      margin-bottom: 40px;
    }
  }
  .testimonial {
    .quote {
      margin: 0 0 0 20px;
      background: $suntan;
      padding: 40px;
      @media (min-width: $breakpoint-tablet) {
        height: 600px;
      }
      p {
        font: $bold 2.0rem/3.0rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      &:nth-child(odd) {
        margin: 0 20px 0 0;
      }
    }
  }
}

section.services.reasons {
  padding: $padding 0;
  .container {
    display: flex;
  }
  .statement {
    
  }
  .statement {
    background: $bgreen;
    position: relative;
    .content {
      padding: 120px;
      @include vertical-align();
      p {
        font: $bold 5.6rem/5.6rem $heading;
        color: $suntan;
      }
    }
  }
  .reasons {
    background: $suntan;
    color: $green;
    padding: 60px;
    h3 {
      font: $bold 3.2rem/4.2rem $heading;
    }
    p {
      font: $normal 2.2rem/3.4rem $regular;
    }
  }
}