// Work

section.archive {
  padding: $padding 0;
  background: $cream;
  .work-listing {
    display: flex;
    flex-wrap: wrap;
  }
}

article.work {
  margin-bottom: 4%;
  border: 1px solid #D6D6D6;
  background: $suntan;
  .zoom {
    position: relative;
    overflow: hidden;
  }
  .image {
    min-height: 320px;
    transition: transform 1s ease;
    &:hover {
      transform: scale(1.1); 
    }
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    padding: 4%;
    margin: 0;
    h3 {
      color: $green;
      font: $bold 3.2rem/4.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 4.0rem/4.8rem $heading;
      }
      a {
        text-decoration: none;
        color: $green;
        &:hover {
          color: $bgreen;
        }
      }
    }
    p {
      font: $normal 2.0rem/2.8rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.4rem/3.4rem $regular;
      }
    }
  }
  &:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

article.work_quote {
  margin-bottom: 4%;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    border: 1px solid #575549;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 4%;
    @media (min-width: $breakpoint-tablet) {
      padding: 4% 8%;
    }
    blockquote {
      p {
        font: $bold 2.4rem/3.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      cite {
        font: $bold 2.0rem/2.4rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.2rem $regular;
        }
      }
      span {
        font: $normal 2.0rem/2.4rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.2rem $regular;
        }
      }
      &::before {
        font-size: 14rem;
        top: 40px;
      }
    }
  }
  &:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

// Single Case Study
body.single-casestudy {
  header {
    background: $darkblue;
  }
  section.hero.single {
    background: $darkblue;
  }
}

section.casestudy.intro {
  padding: $padding-half 0;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.8rem $heading;
    }
  }
  p {
    font: $normal 2.4rem/3.4rem $regular;
  }
  aside {
    background: $suntan;
    border-left: 2px solid $bgreen80;
    padding: 20px 30px;
    ul {
      margin: 0 0 20px 0;
      li {
        font: $normal 2.0rem/3.0rem $regular;
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

section.casestudy.content {
  padding: $padding-half 0;
  background: $suntan;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
}