// Work

section.archive {
  padding: $padding 0;
  background: $cream;
  .work-listing {
    display: flex;
    flex-wrap: wrap;
  }
}

article.work {
  background: $suntan;
  margin-bottom: 30px;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 4%;
    border: 1px solid #D6D6D6;
  }
  .zoom {
    position: relative;
    overflow: hidden;
  }
  .image {
    transition: transform 1s ease;
    min-height: 220px;
    @media (min-width: $breakpoint-tablet) {
      min-height: 320px;
    }
    &:hover {
      transform: scale(1.1); 
    }
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 20px 15px;
    @media (min-width: $breakpoint-tablet) {
      padding: 40px 24px;
    }
    h3 {
      color: $green;
      font: $bold 3.2rem/4.2rem $heading;
      @media (min-width: $breakpoint-tablet) {
        font: $bold 4.0rem/4.8rem $heading;
      }
      a {
        text-decoration: none;
        color: $green;
        &:hover {
          color: $bgreen;
        }
      }
    }
    p {
      font: $normal 1.8rem/2.4rem $regular;
      @media (min-width: $breakpoint-tablet) {
        font: $normal 2.4rem/3.4rem $regular;
      }
    }
  }
  &:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

article.work_quote {
  margin-bottom: 4%;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    border: 1px solid #575549;
  }
  .content {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 4%;
    @media (min-width: $breakpoint-tablet) {
      padding: 4% 8%;
    }
    blockquote {
      p {
        font: $bold 2.4rem/3.2rem $heading;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 3.2rem/4.2rem $heading;
        }
      }
      cite {
        font: $bold 2.0rem/2.4rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $bold 2.4rem/3.2rem $regular;
        }
      }
      span {
        font: $normal 2.0rem/2.4rem $regular;
        @media (min-width: $breakpoint-tablet) {
          font: $normal 2.4rem/3.2rem $regular;
        }
      }
      &::before {
        font-size: 14rem;
        top: 40px;
      }
    }
  }
  &:nth-child(2n+1) {
    margin-left: 0;
    clear: left;
  }
}

// Single Case Study
body.single-casestudy {
  header {
    background: 0 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    nav.menu {
      ul {
        li {
          a {
            color: $white;
          }
        }
      }
    }
  }
  section.hero.single {
    background: $darkblue;
    padding-top: 110px;
    @media (min-width: $breakpoint-tablet) {
      padding-top: 155px;
    }
    
  }
  &.admin-bar {
    header {
      top: 32px;
    }
  }
}

section.casestudy.intro {
  padding: $padding-half 0 0 0;
  background: $cream;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0 0 0;
  }
  h2 {
    font: $bold 4.0rem/4.8rem $heading;
    margin-bottom: 20px;
    @media (min-width: $breakpoint-desktop) {
      font: $bold 4.8rem/5.8rem $heading;
    }
  }
  p {
    font: $normal 2.4rem/3.4rem $regular;
  }
  aside {
    background: $suntan;
    border-left: 2px solid $bgreen70;
    padding: 20px 30px;
    ul {
      margin: 0;
      li {
        list-style: none;
        margin: 5px 0;
        padding: 0;
        font: $normal 2.0rem/3.0rem $regular;
        a {
          color: $bgreen70;
          text-decoration: none;
          
          &::after {
            content: '';
            display: inline-block;
            width: 24px; /* Adjust to your image size */
            height: 24px;
            margin-left: 6px;
            margin-top: 5px;
            margin-bottom: -5px;
            background-image: url('../img/arrow_green.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            transition: margin linear 0.2s;
          }
          &:hover {
            &::after {
              transition: margin linear 0.2s;
              margin-left: 16px;
            }
          }
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }
}

section.casestudy.content {
  padding: $padding-half 0;
  background: $suntan;
  @media (min-width: $breakpoint-tablet) {
    padding: $padding 0;
  }
}